.menucontainer{
    width: 90%;
    padding: 10px;
    transition: width 5s ease;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    box-shadow: 0 0 2px rgb(109, 107, 107),
    0 0 3px rgb(109, 107, 107),
    0 0 4px rgb(61, 60, 60),
    0 0 10px rgb(235, 232, 232);
    border-radius: 2%;
    border: 1px solid rgb(224, 218, 218);
    position: relative;
    margin: 50px;
   

}
.box{
    height: 180px;
    width: 190px;
    background-color: antiquewhite;
    color: aliceblue;
    position: relative;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 2px rgb(109, 107, 107),
    0 0 3px rgb(109, 107, 107),
    0 0 4px rgb(61, 60, 60),
    0 0 10px rgb(235, 232, 232);
    border: 2px solid black;
    
}

.image-container{
  display:flex;
  height: 140px;
  width: 150px;
 justify-content: center;
 align-items: center;
 margin-bottom: 2px;
 
 


}
.image-container img{
    width: 150px;
    height: 140px;
    object-fit:cover;
    justify-content: center;
    align-items: center;
    display: flex;
    
    
   
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
   }
.box h4{
       height: 20px;
       width: 100%;
       color: black;
       margin-top: 2px;
       margin-bottom: 1px;
       text-align: center;
       
   }
@media only screen and (max-width:768px){
    body{
        width:100%;
    }  
    .menucontainer{
        width: 80%;
        padding: 3px;
        
        margin: 10px;
       
    
    }
    .contactus p{
        
        font-size:xx-small;
       
    }
    
}

.contactus{
    height: 180px;
    width: 50%;
    z-index: -1;
   
  
   
    color: rgb(253, 253, 253);
    position: relative;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 0 2px rgb(109, 107, 107),
    0 0 3px rgb(238, 236, 236),
    0 0 4px rgb(218, 217, 217),
    0 0 10px rgb(235, 232, 232);
    border: 2px solid rgb(255, 255, 255);
    word-wrap: break-word;
    font-weight: 800;
    

}

.contactus p{
    text-align: center;
    justify-content: center;
    font-size: smaller;
   
}
.contactus h2{
    text-align: center;
    justify-content: center;
    display: flex;
    font-size: 12px;
    margin-top: 0px;
}


.i-frame{
    border:none;
   margin-left:10px;
   
    width:95%;
   height: 600px;
    display:flex;
    justify-content: center;
    align-items: center;
   position: relative;
  

}